body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    width: 40%;
    height: 35vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    text-align: center;
}

#dob{
    width: 50%;
}

.ageIs{
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
}